<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>add</title>
</head>
<body>
<h1>add</h1>
<a href="#" th:href="@{/position}">跳转到角色管理首页</a><br><br>
<form action="#" method="post" th:action="@{/position/add/a}"><br><br>
    角色名称:<input type="text" name="position_name" placeholder="角色名称"><br><br>
    角色领导:<input type="text" name="position_job" placeholder="角色领导"><br><br>
    <input type="submit" value="提交">
</form>

<div class="ui success message" th:unless="${#strings.isEmpty(msg)}">
    <i class="close icon"></i>
    <div class="header">提示：</div>
    <p th:text="${msg}">恭喜，操作成功！</p>
</div>

</body>
</html>